<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>作业提交列表</title>
    <div th:replace="~{common :: common_head}"></div>
</head>
<body>
<div th:replace="~{common :: head_nav}"></div>
<div class="row">
    <div th:replace="~{common :: left_nav}"></div>

    <div class="col-md-10">
        <div class="content">
            <ol class="breadcrumb">
                <li class="active"><a th:href="@{/admin/}">管理后台</a></li>
                <li class="active">提交编辑</li>
                <li>提交列表</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">提交列表</h3>
                </div>
                <div class="panel-body">
                    <div><span class="text-warning">学生信息绑定了很多数据，暂不支持修改</span></div>
                    <table id="admin_table" class="table table-striped table-hover table-condensed">
                        <tr class="text text-primary">
                            <th class="text-left">ID</th>
                            <th class="text-center">提交学生</th>
                            <th class="text-center">提交内容</th>
                            <th class="text-center">目标作业</th>
                            <th class="text-center">提交时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr th:each="submit : ${homeworkDetailList}" th:object="${submit}">
                            <th  th:text="*{parent.id}" class="text-left">ID</th>
                            <th th:text="*{submiter.userName}" class="text-center">布置老师</th>
                            <th th:text="*{parent.details}" class="text-center">提交内容</th>
                            <th th:text="*{parent.homework}" class="text-center">目标作业</th>
                            <th th:text="*{submitTimeStr}" class="text-center">提交时间</th>
                            <th class="text-center">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-eye-open" ></span>
                            </th>
                        </tr>
                    </table>
                    <div class="pull-right">
                        <!--分页begin-->
                        <ul id="pagintaion" class="pagination" th:object="${homeworkDetailPageInfo}">
                            <li th:if="*{hasPreviousPage}">
                                <a th:href="@{'/admin/submit_list.do/'+*{prePage}}">
                                    <span><- 上页</span>
                                </a>
                            </li>
                            <li th:each="count : *{getNavigatepageNums()} ">
                                <a th:text="${count}" th:href="@{'/admin/submit_list.do/'+${count}}">1</a>
                            </li>
                            <li th:if="*{hasNextPage}">
                                <a th:href="@{'/admin/submit_list.do/'+*{nextPage}}">
                                    <span>下页 -></span>
                                </a>
                            </li>
                        </ul>
                        <!--分页end-->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div th:replace="~{common :: footer}"></div>
<div th:replace="~{common :: common_srcipt}"></div>
<script th:inline="javascript">
    //删除-对对应删除图标
    $('.glyphicon.glyphicon-remove').on('click', function (e)
    {
        var id=e.currentTarget.parentNode.parentElement.childNodes[1].innerHTML;
        if(id!= null || id!= undefined){
            axios({
                method:"POST",

                url:'submit_list.do/dele_homework_detail/'+id

            }).then(function (value) {
                window.location.reload();
                alert(" 刪除成功！")
            })
        }

    });
    //查看-对应查看图标
    $('.glyphicon.glyphicon-eye-open').on('click', function (e){
        var id=e.currentTarget.parentNode.parentElement.childNodes[1].innerHTML;
        if(id!= null || id!= undefined){
            axios({
                method:"POST",
                url:'submit_list.do/show_homework_detail/'+id
            }).then(function (value) {
                window.open(value.request.responseURL,"_blank");
            })
        }
    })
</script>

</body>

</html>